<nav class="navbar navbar-dark bg-dark">
    <a href="/" class="navbar-brand">REGISTRO DE PRODUCTOS</a>
</nav>

<div class="agregar_contenedor"></div>
<div class="row mt-5">
<div class="card">
    <div class="card-body">
        <form id="formulario" name="formulario" #f="ngForm" (ngSubmit)="AgregarValor()" novalidate >
          <div class="form-group">
            <label for="" class="control-label" hidden>Registro No.</label>
                  <input type="text"  readonly="readonly"  [(ngModel)]="user.num_prod" name="num_prod" placeholder="No" class="form-control" hidden>
                  </div>                  

              <div class="form-group">
                  <label for="" class="control-label">ID Empresa</label>
                  <input type="number"  [(ngModel)]="user.idempresa"  name="idempresa" placeholder="DIGITE EL ID EMPRESA"  class="form-control" autofocus>
              </div>
              <div class="form-group">
                <label for="" class="control-label">ID Sucursal</label>
                <input type="number"  [(ngModel)]="user.idsuc"  name="idsuc" placeholder="DIGITE EL ID SUCURSAL"  class="form-control">
              </div>
              <div class="form-group">
                <label for="" class="control-label">ID Tipo Producto</label>
                <input type="number"  [(ngModel)]="user.idtpprod"  name="idtpprod" placeholder="DIGITE EL ID TIPO PRODUCTO"  class="form-control">
            </div>

                <div class="form-group">
                  <label for="" class="control-label">Descripción</label>
                  <input type="text"  [(ngModel)]="user.descripcion"  name="descripcion" placeholder="DIGITE LA DESCRIPCIÓN"  class="form-control">
              </div>
                <div class="form-group">
            <label for="" class="control-label">Presentación</label>
            <input type="text"  [(ngModel)]="user.presentacion"  name="presentacion" placeholder="DIGITE LA PRESENTACIÓN"  class="form-control">
           </div>
            <div class="form-group">
              <label for="" class="control-label">Marca</label>
              <input type="text"  [(ngModel)]="user.marca"  name="marca" placeholder="DIGITE LA MARCA"  class="form-control">
          </div>   
          <div class="form-group">
              <label for="" class="control-label">Valor</label>
              <input type="number"  [(ngModel)]="user.valor"  name="valor" placeholder="DIGITE EL VALOR"  class="form-control">
          </div>
          <div class="form-group">
              <label for="" class="control-label">Precio Venta</label>
              <input type="number"  [(ngModel)]="user.precioventa"  name="precioventa" placeholder="DIGITE EL PRECIO VENTA"  class="form-control">
          </div>
          <div class="form-group">
              <label for="" class="control-label">Existencia</label>
              <input type="number"  [(ngModel)]="user.existencia"  name="existencia" placeholder="DIGITE LA EXISTENCIA"  class="form-control">
          </div>
          <div class="form-group">
              <label for="" class="control-label">Fecha Ingreso</label>
              <input type="date"  [(ngModel)]="user.fecha_ingreso"  name="fecha_ingreso" class="form-control">
          </div>
          <div class="form-group">
              <label for="" class="control-label">Fecha Actualiza</label>
              <input type="date"  [(ngModel)]="user.fecha_actualiza"  name="fecha_actualiza" class="form-control">
          </div>
          <div class="form-group">
              <label for="" class="control-label">Estado</label>
              <input type="text"  [(ngModel)]="user.estado"  name="estado" placeholder="Ej: Activo / Inactivo"  class="form-control">
          </div>

          <button type="submit" class="btn btn-primary" formnovalidate value="Save"  onclick="javascript:alert('Registro Almacenado')">
              Agregar
          </button>
        </form>
    </div>
</div>
</div>
<br>

<div class="container">  
    <div class="row mt-25">
        <!-- table-responsive es necesario por la gran cantidad de columnas -->
        <div class="table-responsive">          
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>ID EMPRESA</th>
                        <th>ID SUC</th>
                        <th>ID TIPO PROD</th>
                        <th>DESCRIPCIÓN</th>
                        <th>PRESENTACIÓN</th>
                        <th>MARCA</th>
                        <th>VALOR</th>
                        <th>P. VENTA</th>
                        <th>EXISTENCIA</th>
                        <th>F. INGRESO</th>
                        <th>F. ACTUALIZA</th>
                        <th>ESTADO</th>
                        <th>ACCIONES</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let User of TUser">
                        <td>{{User.num_prod}}</td>
                        <td>{{User.idempresa}}</td>
                        <td>{{User.idsuc}}</td>
                        <td>{{User.idtpprod}}</td>
                        <td>{{User.descripcion}}</td>
                        <td>{{User.presentacion}}</td>
                        <td>{{User.marca}}</td>
                        <td>{{User.valor}}</td>
                        <td>{{User.precioventa}}</td>
                        <td>{{User.existencia}}</td>
                        <td>{{User.fecha_ingreso}}</td>
                        <td>{{User.fecha_actualiza}}</td>
                        <td>{{User.estado}}</td>
                        <td>
                            <button class="btn btn-danger" (click)="EliminarData(User.num_prod)" onclick="javascript:alert('Registro Eliminado')">Eliminar</button>
                            <button class="btn btn-success" [routerLink]="['/producto/edit', User.num_prod]">Actualizar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>