<nav class="navbar navbar-dark bg-dark">
    <a href="/" class="navbar-brand">REGISTRO DE PRODUCTOS</a>
</nav>

<div class="container">  
    <div class="row mt-25">
        <!-- table-responsive es necesario por la gran cantidad de columnas -->
        <div class="table-responsive">          
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>ID EMPRESA</th>
                        <th>ID SUC</th>
                        <th>ID TIPO PROD</th>
                        <th>DESCRIPCIÓN</th>
                        <th>PRESENTACIÓN</th>
                        <th>MARCA</th>
                        <th>VALOR</th>
                        <th>P. VENTA</th>
                        <th>EXISTENCIA</th>
                        <th>F. INGRESO</th>
                        <th>F. ACTUALIZA</th>
                        <th>ESTADO</th>
                        <th>ACCIONES</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let User of TUser">
                        <td>{{User.num_prod}}</td>
                        <td>{{User.idempresa}}</td>
                        <td>{{User.idsuc}}</td>
                        <td>{{User.idtpprod}}</td>
                        <td>{{User.descripcion}}</td>
                        <td>{{User.presentacion}}</td>
                        <td>{{User.marca}}</td>
                        <td>{{User.valor}}</td>
                        <td>{{User.precioventa}}</td>
                        <td>{{User.existencia}}</td>
                        <td>{{User.fecha_ingreso}}</td>
                        <td>{{User.fecha_actualiza}}</td>
                        <td>{{User.estado}}</td>
                        <td style="white-space: nowrap;">  
                            <button class="btn btn-danger btn-sm mx-1">Eliminar</button>
                            <button class="btn btn-success btn-sm mx-1">Actualizar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>