<nav class="navbar navbar-dark bg-dark">
    <a href="/" class="navbar-brand">TIPOS DE USUARIO</a>
</nav>

<div class="row mt-5">
    <div class="card">
        <div class="card-body">
            <form action="">
                <div class="form-group">
                    <label for="" class="control-label" hidden>Registro No.</label>
                    <input type="text" readonly="readonly" [(ngModel)]="user.idtpusuario" name="idtpusuario" placeholder="No" class="form-control" required hidden>
                </div>                  
    
                <div class="form-group">
                    <label for="" class="control-label">ID Empresa</label>
                    <input type="text" [(ngModel)]="user.idempresa" name="idempresa" placeholder="DIGITE EL ID EMPRESA" class="form-control" autofocus>
                </div>

                <div class="form-group">
                    <label for="" class="control-label">Tipo</label>
                    <input type="text" [(ngModel)]="user.tipo" name="tipo" placeholder="DIGITE EL TIPO DE USUARIO" class="form-control">
                </div>

                <div class="form-group">
                    <label for="" class="control-label">Estado</label>
                    <input type="text" [(ngModel)]="user.estado" name="estado" placeholder="DIGITE EL ESTADO" class="form-control">
                </div>

                <button class="btn btn-success btn-block" (click)="updateUser()" onclick="javascript:alert('Registro Actualizado')">
                    Actualizar
                </button>    
            </form>
        </div>
    </div>
</div>