<nav class="navbar navbar-dark bg-dark">
    <a href="/" class="navbar-brand">REGISTRO DE CLIENTES</a>
</nav>

<div class="container">  
    <div class="row mt-25">
        <!-- table-responsive es necesario por la gran cantidad de columnas -->
        <div class="table-responsive">          
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>ID EMPRESA</th>
                        <th>ID SUC</th>
                        <th>IDENTIDAD</th>
                        <th>RTN</th>
                        <th>F. NAC</th>
                        <th>NOMBRE</th>
                        <th>TELÉFONO</th>
                        <th>DIRECCIÓN</th>
                        <th>CORREO</th>
                        <th>F. CREACIÓN</th>
                        <th>ESTADO</th>
                        <th>ACCIONES</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let User of TUser">
                        <td>{{User.num_clie}}</td>
                        <td>{{User.idempresa}}</td>
                        <td>{{User.idsuc}}</td>
                        <td>{{User.identidad}}</td>
                        <td>{{User.rtn}}</td>
                        <td>{{User.fecha_nac}}</td>
                        <td>{{User.nombre}}</td>
                        <td>{{User.telefono}}</td>
                        <td>{{User.direccion}}</td>
                        <td>{{User.correo}}</td>
                        <td>{{User.fecha_creacion}}</td>
                        <td>{{User.estado}}</td>
                        <td style="white-space: nowrap;">  
                            <button class="btn btn-danger btn-sm mx-1">Eliminar</button>
                            <button class="btn btn-success btn-sm mx-1">Actualizar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>