<nav class="navbar navbar-dark bg-dark">
    <a href="/" class="navbar-brand">REGISTRO DE ENCABEZADOS DE VENTAS</a>
</nav>

<div class="agregar_contenedor"></div>
<div class="row mt-5">
<div class="card">
    <div class="card-body">
        <form id="formulario" name="formulario" #f="ngForm" (ngSubmit)="AgregarValor()" novalidate >
          
          <!-- Primary Key (ÚNICO CAMPO OCULTO) -->
          <div class="form-group">
            <label for="" class="control-label" hidden>Registro No.</label>
            <input type="text" readonly="readonly" [(ngModel)]="user.num_venta" name="num_venta" placeholder="No" class="form-control" required hidden>
          </div>                  

          <div class="form-group">
              <label for="" class="control-label">ID Empresa</label>
              <input type="number" [(ngModel)]="user.idempresa" name="idempresa" placeholder="DIGITE EL ID EMPRESA" class="form-control" autofocus>
          </div>

          <div class="form-group">
              <label for="" class="control-label">ID Sucursal</label>
              <input type="number" [(ngModel)]="user.idsuc" name="idsuc" placeholder="DIGITE EL ID SUCURSAL" class="form-control">
          </div>

          <div class="form-group">
              <label for="" class="control-label">Num Cliente</label>
              <input type="number" [(ngModel)]="user.num_clie" name="num_clie" placeholder="DIGITE EL NUM CLIENTE" class="form-control">
          </div>

          <div class="form-group">
              <label for="" class="control-label">ID Usuario</label>
              <input type="number" [(ngModel)]="user.userid" name="userid" placeholder="DIGITE EL ID USUARIO" class="form-control">
          </div>

          <div class="form-group">
              <label for="" class="control-label">ID Forma Pago</label>
              <input type="number" [(ngModel)]="user.idfpago" name="idfpago" placeholder="DIGITE EL ID FORMA PAGO" class="form-control">
          </div>

          <div class="form-group">
              <label for="" class="control-label">Fecha Venta</label>
              <input type="date" [(ngModel)]="user.fecha_venta" name="fecha_venta" class="form-control">
          </div>

          <div class="form-group">
              <label for="" class="control-label">Estado</label>
              <input type="text" [(ngModel)]="user.estado" name="estado" placeholder="Ej: Activo / Inactivo" class="form-control">
          </div>

          <!-- Botón con sus eventos originales intactos -->
          <button type="submit" class="btn btn-primary" formnovalidate value="Save" onclick="javascript:alert('Registro Almacenado')">
              Agregar
          </button>
        </form>
    </div>
</div>
</div>
<br>

<div class="container">  
    <div class="row mt-25">          
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>ID VENTA</th>
                    <th>ID EMPRESA</th>
                    <th>ID SUC</th>
                    <th>ID CLIENTE</th>
                    <th>ID USUARIO</th>
                    <th>ID F. PAGO</th>
                    <th>F. VENTA</th>
                    <th>ESTADO</th>
                    <th>ACCIONES</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let User of TUser">
                    <td>{{User.num_venta}}</td>
                    <td>{{User.idempresa}}</td>
                    <td>{{User.idsuc}}</td>
                    <td>{{User.num_clie}}</td>
                    <td>{{User.userid}}</td>
                    <td>{{User.idfpago}}</td>
                    <td>{{User.fecha_venta}}</td>
                    <td>{{User.estado}}</td>
                    <td>
                        <button class="btn btn-danger" (click)="EliminarData(User.num_venta)" onclick="javascript:alert('Registro Eliminado')">Eliminar</button>
                        <button class="btn btn-success" [routerLink]="['/encabezadoventa/edit', User.num_venta]">Actualizar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>