<nav class="navbar navbar-dark bg-dark">
    <a href="/" class="navbar-brand">REGISTRO DE TIPOS DE PRODUCTO</a>
</nav>

<div class="container">  
    <div class="row mt-25">          
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>ID EMPRESA</th>
                    <th>TIPO</th>
                    <th>ESTADO</th>
                    <th>ACCIONES</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let User of TUser">
                    <td>{{User.idtpprod}}</td>
                    <td>{{User.idempresa}}</td>
                    <td>{{User.tipo}}</td>
                    <td>{{User.estado}}</td>
                    <td style="white-space: nowrap;">  
                        <button class="btn btn-danger btn-sm mx-1">Eliminar</button>
                        <button class="btn btn-success btn-sm mx-1">Actualizar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>