<nav class="navbar navbar-dark bg-dark">
    <a href="/" class="navbar-brand">REGISTRO DE CUENTAS POR COBRAR</a>
</nav>

<div class="container">  
    <div class="row mt-25">
        <!-- table-responsive es obligatorio por la gran cantidad de columnas -->
        <div class="table-responsive">          
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>ID EMPRESA</th>
                        <th>ID VENTA</th>
                        <th>ID SUC</th>
                        <th>ID CLIENTE</th>
                        <th>ID USUARIO</th>
                        <th>ID F. PAGO</th>
                        <th>F. VENTA</th>
                        <th>ID PROD</th>
                        <th>CANTIDAD</th>
                        <th>PRECIO</th>
                        <th>ISV</th>
                        <th>DESCUENTO</th>
                        <th>TOTAL</th>
                        <th>F. PAGO</th>
                        <th>ESTADO</th>
                        <th>ACCIONES</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let User of TUser">
                        <td>{{User.idcxc}}</td>
                        <td>{{User.idempresa}}</td>
                        <td>{{User.num_venta}}</td>
                        <td>{{User.idsuc}}</td>
                        <td>{{User.num_clie}}</td>
                        <td>{{User.userid}}</td>
                        <td>{{User.idfpago}}</td>
                        <td>{{User.fecha_venta}}</td>
                        <td>{{User.num_prod}}</td>
                        <td>{{User.cantidad}}</td>
                        <td>{{User.precio}}</td>
                        <td>{{User.isv}}</td>
                        <td>{{User.descuento}}</td>
                        <td>{{User.total}}</td>
                        <td>{{User.fecha_pago}}</td>
                        <td>{{User.estado}}</td>
                        <td style="white-space: nowrap;">  
                            <button class="btn btn-danger btn-sm mx-1">Eliminar</button>
                            <button class="btn btn-success btn-sm mx-1">Actualizar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>