<nav class="navbar navbar-dark bg-dark">
    <a href="/" class="navbar-brand">REGISTRO DE USUARIOS</a>
</nav>

<div class="container">  
    <div class="row mt-25">
        <!-- table-responsive para manejar el ancho de 10 columnas -->
        <div class="table-responsive">          
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>ID EMPRESA</th>
                        <th>ID SUC</th>
                        <th>ID TIPO USU</th>
                        <th>ID EMP</th>
                        <th>USUARIO</th>
                        <th>CLAVE</th>
                        <th>TIPO</th>
                        <th>ESTADO</th>
                        <th>ACCIONES</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let User of TUser">
                        <td>{{User.userid}}</td>
                        <td>{{User.idempresa}}</td>
                        <td>{{User.idsuc}}</td>
                        <td>{{User.idtpusuario}}</td>
                        <td>{{User.idemp}}</td>
                        <td>{{User.usuario}}</td>
                        <td>{{User.clave}}</td>
                        <td>{{User.tipo}}</td>
                        <td>{{User.estado}}</td>
                        <td style="white-space: nowrap;">  
                            <button class="btn btn-danger btn-sm mx-1">Eliminar</button>
                            <button class="btn btn-success btn-sm mx-1">Actualizar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

