<nav class="navbar navbar-dark bg-dark">
    <a href="/" class="navbar-brand">ENCABEZADO COMPRA</a>
</nav>

<div class="row mt-5">
    <div class="card">
        <div class="card-body">
            <form action="">
                <div class="form-group">
                    <label for="" class="control-label" hidden>Registro No.</label>
                    <input type="text" readonly="readonly" [(ngModel)]="user.num_compra" name="num_compra" placeholder="No" class="form-control" required hidden>
                </div>                  

                <div class="form-group">
                    <label for="" class="control-label">ID Empresa</label>
                    <input type="number" [(ngModel)]="user.idempresa" name="idempresa" placeholder="DIGITE EL ID EMPRESA" class="form-control" autofocus>
                </div>
                <div class="form-group">
                    <label for="" class="control-label">ID Sucursal</label>
                    <input type="number" [(ngModel)]="user.idsuc" name="idsuc" placeholder="DIGITE EL ID SUCURSAL" class="form-control">
                </div>
                <div class="form-group">
                    <label for="" class="control-label">ID Proveedor</label>
                    <input type="number" [(ngModel)]="user.idprov" name="idprov" placeholder="DIGITE EL ID PROVEEDOR" class="form-control">
                </div>
                <div class="form-group">
                    <label for="" class="control-label">User ID</label>
                    <input type="number" [(ngModel)]="user.userid" name="userid" placeholder="DIGITE EL USER ID" class="form-control">
                </div>
                <div class="form-group">
                    <label for="" class="control-label">ID Forma Pago</label>
                    <input type="number" [(ngModel)]="user.idfpago" name="idfpago" placeholder="DIGITE EL ID FORMA PAGO" class="form-control">
                </div>
                <div class="form-group">
                    <label for="" class="control-label">Fecha Compra</label>
                    <input type="date" [(ngModel)]="user.fecha_compra" name="fecha_compra" placeholder="Seleccione la Fecha" class="form-control">
                </div>
                <div class="form-group">
                    <label for="" class="control-label">Estado</label>
                    <input type="text" [(ngModel)]="user.estado" name="estado" placeholder="DIGITE EL ESTADO" class="form-control">
                </div>

                <button class="btn btn-success btn-block" (click)="updateUser()" onclick="javascript:alert('Registro Actualizado')">
                    Actualizar
                </button>    
            </form>
        </div>
    </div>
</div>